<button routerLink="/upload-list" class="btn btn-primary mb-4"><i class="fa fa-arrow-left"></i> Back to list</button>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Filename</th>
            <th scope="col">CreatedAt</th>
            <th scope="col">UpdatedAt</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{image.id}}</th>
            <td>{{image.filename}}</td>
            <td>{{getSimpleDate(image.createdAt)}}</td>
            <td>{{getSimpleDate(image.updatedAt)}}</td>
            <td>
                <button class="btn btn-success mr-2" disabled>Save edit</button>
                <button class="btn btn-danger mr-2" (click)="deleteImage(image.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<h4>Image</h4>

<img [src]='image.file'>