<div class="inline-block">
    <div ngfDrop selectable="1" [(validDrag)]="validComboDrag" [(file)]="userFile" [(files)]="files" accept="image/*"
        [maxSize]="maxSize" [(lastInvalids)]="lastInvalids" [(dragFiles)]="dragFiles" class="well my-drop-zone dropzone"
        [class.invalid-drag]="validComboDrag===false" [class.valid-drag]="validComboDrag" (filesChange)="lastFileAt=getDate()">
        <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
    </div>

    <ngfUploadStatus [(percent)]="uploadPercent" [httpEvent]="httpEvent"></ngfUploadStatus>

    <div *ngIf="uploadPercent">
        Upload Progress: {{ uploadPercent }}%
    </div>
</div>
<div class="mb-4 mt-4" *ngIf="files.length">
    <h3>{{ files.length }} Queued Files</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Size</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of files;let i=index">
                <td>
                    <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.type)>=0">
                        <div class="previewIcon" [ngfBackground]="item"></div>
                    </div>
                    <strong>{{ item.name }}</strong>
                </td>
                <td nowrap>
                    {{ item.type }}
                </td>
                <td nowrap>
                    {{ item.size/1024/1024 | number:'.2' }} MB
                </td>
                <td nowrap>
                    <button type="button" class="btn btn-danger btn-xs" (click)="files.splice(i,1)">
                        <span class="fa fa-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="files.length">
        <i *ngIf="progress==100" class="glyphicon glyphicon-ok"></i>
        <div class="mt-3">
            <button type="button" class="btn btn-success btn-s mr-2 font-weight-bold" (click)="uploadFiles(files)" [disabled]="!files.length">
                <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>
    
            <button type="button" class="btn btn-warning btn-s mr-2 font-weight-bold" (click)="cancel()" [disabled]="!httpEmitter">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s  mr-2 font-weight-bold" (click)="files.length=0" [disabled]="!files.length">
                <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
        </div>
    </div>
</div>