<p>
    Here are all the uploads listed
</p>

<button routerLink="/upload" class="btn btn-primary mb-4"><i class="fa fa-plus"></i> Add file(s)</button>

<table class="table table-hover" *ngIf="images.length">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Filename</th>
            <th scope="col">CreatedAt</th>
            <th scope="col">UpdatedAt</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let image of images; let index = index;">
            <th scope="row">{{image.id}}</th>
            <td>{{image.filename}}</td>
            <td>{{getSimpleDate(image.createdAt)}}</td>
            <td>{{getSimpleDate(image.updatedAt)}}</td>
            <td>
                <button class="btn btn-info mr-2" [routerLink]="['/upload-details',image.id]">View</button>
                <button class="btn btn-danger mr-2" (click)="deleteImage(image.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>